@font-face {
  font-family: "Metal Mania";
  src: url("../fonts/MetalMania-Regular.woff2") format("woff2"),
    url("../fonts/MetalMania-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
button {
  font: inherit;
  color: inherit;
  cursor: pointer;
}
img {
  max-width: 100%;
  display: block;
}
.header {
  background: url("../img/bg_img.jpg") no-repeat center center / cover;
  padding-bottom: 30px;
}
.container {
  margin: 0 auto;
  width: 60%;
}
.navbar {
  border-bottom: 1px solid #aaa;
}
.navbar .container {
  width: 40%;
}
.navbar__item {
  display: inline-block;
  margin-right: 130px;
}
.navbar__item:last-child {
  margin-right: 0;
}
.navbar__link {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  display: block;
  padding: 10px;
}
.navbar__link:hover {
  background-color: rgba(228, 228, 228, 0.5);
}
.header__title {
  font-family: "Metal Mania";
  font-weight: 400;
  text-align: center;
  color: #fff;
  font-size: 80px;
  margin: 15px 0;
}
.header__button {
  border: 1px solid #2d9cdb;
  background-color: rgba(228, 228, 228, 0.1);
  padding: 10px 30px;
  color: #fff;
  font-size: 26px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 40px;
}
.header__button:hover {
  background-color: rgba(228, 228, 228, 0.3);
  border: 1px solid rgba(228, 228, 228, 0.3);
}
.header__link {
  display: block;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(228, 228, 228, 0.2);
  border: none;
  margin: 0 auto;
  padding: 0;
  transition: all 0.3s ease-in;
}
.header__link:hover {
  background-color: rgba(228, 228, 228, 0.1);
}
.header__link img {
  margin: 0 auto;
  width: 80px;
}
.main {
  padding: 20px 0 15px;
}
.main__title {
  font-family: "Metal Mania";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-size: 38px;
  margin-bottom: 40px;
}
.main__item {
  padding: 15px 0;
  border-bottom: 1px solid #999;
  text-align: center;
}
.main__item:last-child {
  border-bottom: 1px solid transparent;
}
.main__month {
  text-transform: uppercase;
  font-family: "Alice", serif;
  font-weight: 700;
  display: inline-block;
}
.main__company {
  text-transform: uppercase;
  display: inline-block;
  font-family: sans-serif;
  margin: 0 30px;
  width: 121px;
  text-align: left;
}
.main__site {
  font-family: sans-serif;
  display: inline-block;
  text-transform: uppercase;
  width: 238px;
  text-align: left;
}
.main__button {
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #2d9cdb;
  padding: 5px 3px;
  border: none;
  margin-left: 30px;
  transition: all 0.3s ease-in-out;
}
.main__button:hover {
  background-color: skyblue;
  color: #333;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.footer {
  background-color: #2d9cdb;
  padding: 15px 0;
}
.footer__left {
  float: left;
  clear: left;
  overflow: auto;
}
.footer__logo {
  display: inline-block;
}
.footer__logo h1 {
  display: inline-block;
  color: #fff;
  font-family: "Metal Mania";
  font-weight: 400;
  font-size: 42px;
}
.footer__right {
  float: right;
  clear: right;
  overflow: auto;
  margin-top: 15px;
}
.footer__right a {
  display: inline-block;
  color: #fff;
  font-size: 30px;
}
.footer__right .youtube {
  font-size: 32px;
}
.spotify {
  margin: 0 20px;
}
/* Start About Html */
.main__desc {
  font-size: 18px;
}
.main__desc img {
  float: left;
  border-radius: 50%;
  width: 270px;
  padding: 9px;
}
/* Start Store Html */

/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url("../img/dribbble_1.gif");
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
  text-align: center;
  font-family: "Metal Mania";
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  font-family: "Metal Mania";
  text-align: center;
  margin-top: -50px;
}
